iframe{
    width: 100%;
}

.img01{
    width: 90%;
}

.div01{
    border: 2px solid grey;
    margin-bottom: 10px;
    padding-top: 10px;
}

.img02{
    width: 90%;
    height: 400px;
}